@import '../App/variables';

.sw-item-list {
  position: relative;
  min-height: 300px;
  padding: 20px 0;

  background-color: $color-fill;
  border-radius: 25px;
  border: 2px solid rgba($color-base, .1);

  &__item {
    padding: 10px 30px;
    border-bottom: 1px solid rgba($color-base, .2);

    font-size: 20px;
    cursor: pointer;

    &:hover {
      background-color: rgba($color-base, .3);
    }

    &.-active {
      font-weight: 700;
      color:$color-secondary;
    }
  }
}